body {
    background-color: pink;
    font-family: 'Courier New', Courier, monospace
}

button {
  padding: 5px;
  border: 2px solid black; 
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 5px;
}

button:hover {
    cursor: pointer;
}

button:active {
    margin-top: 5px;
    color: palevioletred;
    box-shadow: 0px 0px;
}